.formContainer{
    display: flex;
    flex-wrap: wrap;
    background-color: gainsboro;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.divForm{
    height: auto;
}

.administrationForm{
    margin: 2%;
    margin-bottom: 3%;
    background-color: white;
    border-radius: 20px;
}

.titleAdministration, .titles{
    color: #545776;
    margin-top: 2%;
    margin-left: 2%;
}

 .titlesAttribute{
    color: #545776;
    margin-top: 2%;
    margin-left: 2%;
}

.formGroupAdmin2, .formGroupAdmin4{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
    margin-right: 1%;
    margin-left: 1%;
    background-color: #bebebe38;
}

.formGroupAdmin4{
    height: 8rem;
    margin: 1%;
}

.btnCrearProducto{
    background-color: #1DBEB4;
    border-radius: 5px;
    height: 3rem;
    width: 11rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    position: relative;
    margin-left: 45%;
    margin-top: 3rem;
    margin-bottom: 2%;
}

@media screen and (max-width: 880px){ 
    .btnCrearProducto{
        margin-left: 40%;
    }
}

@media screen and (max-width: 660px){ 
    .btnCrearProducto{
        margin-left: 35%;
    }
}