.categoriaPropiedad{
    height: 2.7rem;
    width: 41vw;
    border-radius: 5px;
    color: #8f8f8f;
    font-weight: bold;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
    border: none;
}

.right, .left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3%;
}

.formGroupAdmin{
    width: 40vw;
}

.formGroupAdminDescripcion{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
}

.errorNombre, .errorDireccion, .errorLongitud, .errorLatitud{
    position: relative;
    color: #FF0000;
    font-size: 12px;
}

.formProperty input:invalid{
    border: solid 1.5px #e41212;
}

.formProperty input:valid{
    border: solid 1.5px #26ac04;
}

.formProperty input:hover, textarea:hover{
    background-color: rgba(231, 231, 231, 0.658);
}

.textarea{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    width: 88vw;
    height: 9rem;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}

.inputAdmin{
    width: 100%;
    padding: 5px;
    margin-bottom: 9px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 48px;
    border: none;
}