.topMenu{
    background-color: #1DBEB4;
    position: absolute;
    top: -90px;
    width: 100%;
    height: 20vh;
    color: #fafafa;
}

.h5{
    position: relative;
    text-align: end;
    margin-bottom: 38rem;
    margin-right: 1%;
    color: white;
}

.avatarMobile{
    display: flex;
    justify-content: end;
    position: relative;
    margin-bottom: 70vh;
    margin-left: auto;
    font-weight: 700;
}

.hrNoLogged{
    position: relative;
    bottom: 30rem;
    color: #545776
}

.hrLogged, .hrLogged2{
    position: relative;
    bottom: 2rem;
    color: #545776
}

.hrLogged2{
    bottom: 30rem;
}

.pCSesion{
    position: relative;
    bottom: 1.5rem;
    text-align: end;
    color: #545776;
}

.aCSesion{
    text-decoration: none;
    color: #1DBEB4;
    font-weight: 500;
}

.aCSesion:hover{
    text-decoration: none;
    color: #008a81;
}

.close{
    top: 1rem;
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 80px;
}

.btnMenu1 , .btnMenu2, .btnMenu3{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 25em;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 2%;
    cursor: pointer;
    text-decoration: none;
    color: #4c4f69;
}

.btnMenu1:hover, .btnMenu2:hover, .btnMenu3:hover{
    color: #1DBEB4;
    text-decoration: none;
}

.NavbarItems {
    position: relative;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 91.5vh;
    position: fixed;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
}

.nav-menu.active {
    background: #fafafa;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 10;
}

.redes{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0.5rem;
    right: 0rem;
    padding-bottom: 13px;
}

.nav-links {
    display: flexbox;
    color: #4c4f69;
    font-size: 1.2rem;
    padding: 1rem;
}

.nav-links:hover{
    color: #1DBEB4;
}

.navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
}

.menu-icon {
    display: block;
    position: absolute;
    top: 1rem;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
}

@media screen and (max-height: 900px){
    .avatarMobile{
        margin-bottom: 68vh;
    }

    .btnMenu3{
        bottom: 12em;
    }

    .hrLogged2{
        bottom: 15rem;
    }
}